* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 24, 24);  
    color: white; 
}

.intro {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cs {
    display: flex;
    justify-content: center;
    height: 45vh;
    border: 2px solid black;
}
.seletor {
    display: block;
    blo
}
.vidio {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.vava {
    height: 45vh;
}