* {
    padding: 0px;
    margin: 0px;
}

.foto-perfil{
    display: flex;
    justify-content: center; 
}

.foto-perfil img {
    border-radius: 50%;
    height: 250px;
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.ensinos {
    font-size: 25px;
    padding-left: 30px;
    padding-top:20px;
    padding-bottom: 30px;
}

.ensinos p {
    padding-bottom: 15px;
}

.links {
    padding: 20px;
    font-size: 25px;
}

.links ul li {
    list-style: none;
    padding-bottom: 15px;
}

.links a {
    
}