@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css'); 
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css'); 
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/shopping-bag.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/smile-mouth-open.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/chevron-down.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}
body {
    height: 100vh;
    width: 100vw;
}
header {
    background-color: red;
    height: 20px;
    display: flex;
    position: fixed;
    top: 0; right: 0; left: 0;
}

#container-left { 
    height: 15px;
    background-color: none;
    width: 20%;
}

#container-left ul { 
    padding: 2px;
    display: flex;
}

#container-left li {
    padding-left: 15px;
    list-style: none;
}

#container-left a {
    text-decoration: none;
    color: white;

}

#pesquisa { 
    position: fixed;
    left: 0; right: 0; top: 0;
    
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: 20px;
}

#pesquisa #logo img {
    width: 120px;   
}
#pesquisa #logo {
    margin: 20px;

}
#pesquisa  #barra-pesquisa { 
    display: flex;
    align-items: center;

}
#pesquisa input {
    background-color: white;
    background-image: url(../imgs/searchicon.png);   
    background-repeat: no-repeat;
    padding: 1.5px;
    padding-left: 40px;
    width: 40rem;
    border: 1px rgb(161, 161, 161) solid;
}

#atendimento ul{ 
    display: flex;
    padding: 20px;
}
#atendimento li {
    list-style: none;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




#pesquisa-produtos {
    position: fixed;
    right: 0; top: 20%; left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    z-index: 1;
}

#pesquisa-produtos ul {
    list-style: none;
}

#pesquisa-produtos ul li {
    position: relative;
    float: left;
}

#pesquisa-produtos ul li a { 
    font-size: 20px;
    color: #333;
    padding: 20px;
    display: block;
}
#pesquisa-produtos ul li a:hover {
    background: #333;
    color: #fff;
}

#pesquisa-produtos ul li ul { 
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #fff;
    display: none;
}

#pesquisa-produtos ul li ul li { 
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

#pesquisa-produtos ul li ul li ul {
    left: 200px;
    top: 0; 
}

#pesquisa-produtos ul li:hover > ul {
    display: initial
}