@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Sono:wght@200;400;600&display=swap');
* {
    font-family: 'Sono', sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 50px;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(228, 228, 228);
    width: 500px;
    padding: 40px;
    border-radius: 4px;
}

.card > p {
    font-size: 1rem;
    padding: 0.8rem;
    font-weight: 400;
}

.card > h1 {
    font-weight: 600;
}

.card >h2 {
    font-weight: 600;
}

button {
    border: none;
    background-color: #ff6600;
    color: white;
    border-radius: 5px;
    padding:10px;
    cursor: pointer;
}

@media (max-width:1800px) {
    .container {
        flex-direction: column;
        height: 100%;
    }
}